.DS_Store
*~
/Software/Sequencer Card/uCode-Generator/build/
/Software/Sequencer Card/uCode-Generator/dist/
/Software/Assembler/dist/
/Software/Assembler/CppApplication_1/build/
/Software/Assembler/CppApplication_1/dist/
/Software/Assembler/old/a18/a18/build/
PCB/*.s#?
PCB/*.b#?
PCB/*.l#?
PCB/*.b$?
PCB/*.s$?
PCB/*.l$?
