.DS_Store
*~
/Software/Sequencer Card/uCode-Generator/build/
/Software/Sequencer Card/uCode-Generator/dist/
/Software/Assembler/dist/
/Software/Assembler/CppApplication_1/build/
/Software/Assembler/CppApplication_1/dist/
/Software/Assembler/old/a18/a18/build/
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?
/Software/tinybasic-c/build/
/Software/tinybasic-c/dist/
/Software/Tiny-Basic-master/build/
Software/ubasic-master/tokenizer.o
Software/ubasic-master/use-ubasic.o
Software/ubasic-master/tokenizer.o
/Software/emulator/dist/
/Software/emulator/build/
Software/ubasic-master/tokenizer.o
Software/ubasic-master/tokenizer.o
Software/ubasic-master/tokenizer.o
Software/ubasic-master/use-ubasic.o
Software/ubasic-master/use-ubasic
Software/Assembler/dist/Debug/GNU-MacOSX/assembler
Software/ubasic-master/use-ubasic
Software/ubasic-master/tokenizer.o
Software/Assembler/dist/Debug/GNU-MacOSX/assembler
Software/ubasic-master/use-ubasic
Software/Sequencer Card/disasm/build/Debug/GNU-MacOSX/main.o
Software/Sequencer Card/disasm/build/Debug/GNU-MacOSX/main.o
Software/Sequencer Card/disasm/build/Debug/GNU-MacOSX/main.o
Software/Sequencer Card/disasm/dist/Debug/GNU-MacOSX/disasm
Software/Sequencer Card/uCode-Generator/dist/Debug/GNU-MacOSX/ucode-generator
Software/Sequencer Card/uCode-Generator/cache
Software/Sequencer Card/uCode-Generator/cache
Software/Sequencer Card/uCode-Generator/dist/Debug/GNU-MacOSX/ucode-generator
Software/emulator/nbproject/private/private.xml
Software/Sequencer Card/uCode-Generator/cache
Software/Sequencer Card/uCode-Generator/dist/Debug/GNU-MacOSX/ucode-generator
Software/Sequencer Card/uCode-Generator/test.hex
Software/Sequencer Card/uCode-Generator/test.hexz
Software/Assembler/dist/Debug/GNU-MacOSX/assembler
Software/ubasic-master/tokenizer.o
Software/Assembler/dist/Debug/GNU-MacOSX/assembler
Software/ubasic-master/tokenizer.o
Software/ubasic-master/use-ubasic
Software/Assembler/dist/Debug/GNU-MacOSX/assembler
